{
    "presets": [ "react", "latest" ],
    "plugins": [ "transform-class-properties", "transform-decorators-legacy", "transform-object-rest-spread", "react-require", [ "module-resolver", { "alias": { "ohui": "./sources" } } ] ]
}
