{
  "plugins": [
    [ "transform-es2015-block-scoped-functions" ],
    [ "transform-es2015-destructuring" ],
    [ "transform-es2015-modules-commonjs" ],
    [ "transform-es2015-parameters" ],
    [ "transform-object-rest-spread" ],
    [ "transform-decorators-legacy" ],
    [ "transform-class-properties" ]
  ]
}
