.Window {
    display: flex;
    flex-direction: column;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: #fff;
}

.Window-titlebar {
    flex: none;
    width: 100%;
    height: 20px;

    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
    font-size: 11pt;
    text-align: center;
    line-height: 20px;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(top, #ebebeb, #d5d5d5);
    color: #4d494d;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: default;
}

.Window-buttons {
    float: left;

    padding-left: 8px;
    padding-top: 3px;

    line-height: 0px;
}

.Window-buttons:hover a {
    visibility: visible;
}

.Window-close {
    display: inline-block;

    width: 11px;
    height: 11px;

    border: 1px solid #e33e41;
    border-radius: 50%;

    font-size: 9pt;

    background: #ff5c5c;
}

.Window-close:active {
    border: 1px solid #b03537;

    background: #c14645;
}

.Window-minimize {
    display: inline-block;

    margin-left: 4px;

    width: 11px;
    height: 11px;

    border: 1px solid #e09e3e;
    border-radius: 50%;

    font-size: 9pt;
    line-height: 11px;

    background: #ffbd4c;
}

.Window-minimize:active {
    border: 1px solid #af7c33;

    background: #c08e38;
}

.Window-zoom {
    display: inline-block;

    margin-left: 6px;

    width: 11px;
    height: 11px;

    border: 1px solid #14ae46;
    border-radius: 50%;

    font-size: 9pt;
    line-height: 11px;

    background: #00ca56;
}

.Window-zoom:active {
    border: 1px solid #128435;

    background: #029740;
}

.Window-content {
    flex: auto;
}
